.background {
  width: 100%;
}

body {
  /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
main {
  text-align: center;
}

h1 {
  margin: 0;
}

a {
  font-size: 20px;
}

img {
  width: 100%;
}

.navbar {
  position: fixed;
  display: flex;
  justify-content: center;
  top: 0;
  width: 100%;
  background-color: #cbc3e3;
  margin-left: -8px;
  z-index: 1;
}

.navbar a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}

.main-padding {
  padding-top: 12%;
}

.line-1 {
  margin: 0 auto;
  border-right: solid black;
  font-size: 190%;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  transform: translateY(-50%);
  animation: typewriter 4s steps(44) 1s 1 normal both;
}

@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 22.5em;
  }
}

.projects {
}

.project1 {
  width: 100%;
}
