.background {
  width: 100%;
}

/*Tags*/
body {
  /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background-color: #f4f7f8;
}

h1 {
  margin: 0;
}

img {
  width: 100%;
}

/* Navbar  */
.navbar {
  position: fixed;
  font-size: 24px;
  display: flex;
  justify-content: center;
  top: 0;
  width: 100%;
  background-color: #cbc3e3;
  margin-left: -8px;
  z-index: 1;
}

.navbar a {
  color: black;
  display: block;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}

nav a:hover {
  transition: 0.3s;
  text-decoration: underline;
}

nav a:focus {
  text-decoration: underline;
}

nav a.selected {
  font-weight: bold;
  text-decoration: underline;
}

/*main*/
.main-padding {
  padding-top: 10%;
}

/* Animation in homepage */
.welcomeAnim {
  margin: 0 auto;
  border-right: solid black;
  font-size: 190%;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  transform: translateY(-50%);
  animation: typewriter 4s steps(44) 1s 1 normal both;
}

@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 22.5em;
  }
}

/*Projects section*/
.width {
  justify-content: center;
  align-items: center;
}

.my_projects {
  width: 70%;
  padding-top: 2%;
  margin: 0 auto;
}

.my_projects h1 {
  font-size: 36px;
}

.project {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.projectImg {
  padding-top: 2%;
}

.projectTitle {
  padding-bottom: 2%;
}

/*About me section*/
.bioDiv {
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
  padding: 4%;
  width: 60%;
}

.bioInfo {
  display: inline;
}

.contactInfo {
  justify-content: center;
  position: relative;
  align-items: center;
  display: flex;
}

.icon {
  height: auto;
  width: 50px;
  padding: 2%;
}
